* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*setting up cover image*/
  .cover {
    width: 100%;
    height: 100vh;
    background: url('./images/landing_page.jpg') no-repeat center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .cover.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  .cover .center {
    text-align: center;
    color: black;
  }
  
  .cover h1 {
    font-size: 5rem;
    margin-bottom: 6    rem;
  }
  
  .cover .btn {
    border: 2px solid white;
    padding: 0.75rem 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  
  .cover .btn:hover {
    background-color: white;
    color: black;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  /* Style for the Explore button */
  .center .btn {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 6rem;
  }
  
  .center .btn:hover {
    background-color: #333;
    color: #fff;
  }

.cover.slideUp {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }


/*setting up content alligned with main page heading*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 1rem;
    font-weight: bold;
   
  }

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}
.navbar-nav .nav-link {
    color: #fff;
  }
  
  
.nav-link {
    font-size: 1.2em;
    text-decoration: underline;
    color: white;
    
    
}
nav a:hover {
    text-decoration: underline;
  }
  .cart {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: white;
  }
  
  .cart a {
    font-size: 20px;
    color: black;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/homepage_default_bckgrnd.jpg);
  
  }
.headingAfterSlide{
   color: #fff  ;
}
  